#field {
  position: relative;
  width: auto;
  height: 100vh;

  background-image: url("../media/deployed.png");
  background-repeat: no-repeat;
  background-position: center center;   /* flush left */
  background-size: auto 100vh;          /* fit vertically */
}

#keepout {
  position: absolute;
  bottom: 23vh;
  right: 49.75vw;
  width: 69vh;
  height: 40.5vh;
  background: rgba(255,255,0,0.35);
  border: 2px solid yellow;
  box-sizing: border-box;
  /* cursor: move; */
  z-index: 10;
}

.handle {
  position: absolute;
  width: 14px;
  height: 14px;
  background: yellow;
  z-index: 11;
}

.n { top:-7px; left:50%; transform:translateX(-50%); cursor:ns-resize; }


#fieldbounds {
  position: absolute;
  bottom: 23vh;
  right: 49.75vw;
  width: 69vh;
  height: 40.5vh;
  /* background: rgba(0,0,255,0.1); */
}