.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.logo {
  width: 100%;
  /* height: clamp(80px, 15vh, 140px);  */
  display: flex;
  align-items: center;
  justify-content: center;
}

#main_logo {
  max-width: 100%;     /* fit horizontally */
  max-height: 100%;    /* never overflow vertically */
  width: 100%;
  height: auto;
  object-fit: contain;
}